<h1>Detalles del Producto</h1>
<section>
  <h2>{{producto.title}}</h2>
  <ul>
    <li><strong>Descripción:</strong> {{producto.description}}</li>
    <li><strong>Precio:</strong> ${{producto.price}}</li>
    <li><strong>Stock Disponible:</strong> {{producto.stock}}</li>
  </ul>
</section>